@page "/callback"
<h3>Authenticating with Spotify...</h3>

@code {
    [Inject] private NavigationManager Navigation { get; set; } = default!;
    [Inject] private HttpClient Http { get; set; } = default!;
    [Inject] private IConfiguration Config { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var code = query["code"];

        if (!string.IsNullOrEmpty(code))
        {
            await ExchangeCodeForToken(code);
        }
    }

    private async Task ExchangeCodeForToken(string code)
    {
        var clientId = Config["Spotify:ClientId"];
        //var clientSecret = Config["Spotify:ClientSecret"];
        var redirectUri = Config["Spotify:RedirectUri"];

        var requestBody = new FormUrlEncodedContent(new[]
        {
            new KeyValuePair<string, string>("grant_type", "authorization_code"),
            new KeyValuePair<string, string>("code", code),
            new KeyValuePair<string, string>("redirect_uri", redirectUri),
            new KeyValuePair<string, string>("client_id", clientId),
            //new KeyValuePair<string, string>("client_secret", clientSecret)
        });

        var response = await Http.PostAsync("https://accounts.spotify.com/api/token", requestBody);
        var content = await response.Content.ReadAsStringAsync();

        Console.WriteLine(content);
    }
}