@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<h3>Spotify Playlist Creator</h3>
@* <a href="/Search"> *@
    <button onclick="navigate('Search')">Click Me!!!</button>
@* </a> *@
