@page "/"

<PageTitle>Sign in</PageTitle>

<h3>Spotify Playlist Creator</h3>
<button onclick="navigate('playlists')">Sign in</button>

<script type="text/javascript">
    window.addEventListener("load", () => {
        document.getElementById("div_Sidebar").style.display = "none";
    });
</script>