@using SpotifyServices;

@inject NavigationManager _navigationManager
@inject IConfiguration _config
@inject HttpClient _httpClient
@inject SpotifyServices_TokenService _tokenService

@page "/"
@rendermode InteractiveServer

<PageTitle>Sign in</PageTitle>

<div style="text-align:center;padding:35vh">
    <p class="font-mono text-3xl font-medium text-gray-600" style="margin-bottom:16px">Spotify Playlist Creator</p>
    <button class="font-sans text-lg font-bold rounded-md text-gray-600 border-2 border-orange-300 w-28 h-12 hover:bg-orange-300 hover:text-white" @onclick="SpotifySignin">Sign in</button>
</div>
<script type="text/javascript">
    window.addEventListener("load", () => {
         document.getElementById("div_Sidebar").style.display = "none";
    });
</script>

@code {
    private async Task SpotifySignin()
    {
        string? spotifyAuthUrl = null;

        try
        {
            SpotifyServices_Signin SpotifyServicesSignin = new SpotifyServices_Signin(_config, _httpClient, _tokenService);
            spotifyAuthUrl = SpotifyServicesSignin.SpotifySigninAuth();
        }
        catch (Exception ex)
        {
            Console.WriteLine("SpotifySignin Ex: " + ex.Message);
        }

        if (!string.IsNullOrEmpty(spotifyAuthUrl))
        {
            _navigationManager.NavigateTo(spotifyAuthUrl, true);
        }
        else
        {
            Console.WriteLine("SpotifySignin: spotifyAuthUrl is null");
        }
    }
}